@model CleverScheduleProject.Models.Client

@{
    ViewData["Title"] = "Profile";
}
@*body*@
@*Title*@
<div class="row col-sm-12 justify-content-center">
    <div>
        <h1 class="text-center">Profile</h1>
        <hr class="bg-white" />
    </div>
</div>
@*MAIN*@
@*Client section*@
<div class="row col-sm-12">
    <div class="border border-light text-dark col-sm-4" style="background-color: cadetblue; max-width: 200px;">
        <dl class="row text-dark pt-2 " style="background-color: teal">
            <h4 class="col-sm-12 text-center">
                @Html.DisplayFor(model => model.Name)
            </h4>
            <hr class="col-sm-8 bg-white" />
        </dl>
        <dl class="row">
            <dt class="col-sm-12">
                @Html.DisplayNameFor(model => model.Address):
            </dt>
            <dd class="col-sm-12" >
                @Html.DisplayFor(model => model.Address.Street)
                <br />
                @Html.DisplayFor(model => model.Address.City),
                @Html.DisplayFor(model => model.Address.State)
                @Html.DisplayFor(model => model.Address.Zip)
            </dd>
            <dt class="col-sm-12">
                Next Appointment:
            </dt>
            <dd class="col-sm-12">
                @if (ViewBag.Appointments != null)
                {
                    @ViewBag.Appointments[0].DateTime.ToString("g")
                    <br /><span>w/</span>
                    @ViewBag.Appointments[0].Contractor.Name;
                }
            </dd>
        </dl>
        <div class="row justify-content-center mb-2">
            <a class="btn btn-dark col-sm-10 text-light" asp-controller="Appointments" asp-action="CreateAppointment">+ Appointment</a>
        </div>
    </div>
    @*Appointments Panel*@
    <div class="col-md-8">
        <table class="table text-center table-secondary table-hover border border-light text-center" >
            <thead class="bg-dark text-white">
                <tr>
                    <th>
                        @*@Html.DisplayNameFor()*@
                        Date
                    </th>
                    <th>
                        @*@Html.DisplayNameFor()*@
                        Contractor
                    </th>
                    <th>
                        Status
                        @*@Html.DisplayNameFor()*@
                    </th>
                </tr>
            </thead>
            <tbody>

                @if (ViewBag.Appointments != null)
                {
                    @foreach (var item in @ViewBag.Appointments)
                    {
                        <tr>
                            <td>
                                @item.DateTime.ToString("g")
                            </td>
                            <td>
                                @item.Contractor.Name
                            </td>
                            <td>
                                @item.Status
                            </td>
                        </tr>
                    }
                }
                </tbody>
        </table>
    </div>
</div>
@*MAIN*@
@*body*@
