@model CleverScheduleProject.Models.Client

@{
    ViewData["Title"] = "Profile";
}
@*body*@
@*Title*@
<div class="row col-sm-12 justify-content-center">
    <div>
        <h1 class="text-center">Profile</h1>
        <hr class="bg-white" />
    </div>
</div>
@*MAIN*@
@*Client section*@
<div class="row">
    <div class="border border-light text-dark col-sm-3" style="background-color: cadetblue; max-width: 200px !important;">
        <dl class="row text-dark pt-2 " style="background-color: teal">
            <h4 class="col-sm-12 text-center">
                @Html.DisplayFor(model => model.Name)
            </h4>
            <hr class="col-sm-8 bg-white" />
        </dl>
        <dl class="row">
            <dt class="col-sm-12">
                @Html.DisplayNameFor(model => model.Address):
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.Address.Street)
                <br />
                @Html.DisplayFor(model => model.Address.City),
                @Html.DisplayFor(model => model.Address.State)
                @Html.DisplayFor(model => model.Address.Zip)
            </dd>
            <dt class="col-sm-12">
                Next Appointment:
            </dt>
            <dd class="col-sm-12">
                @if (ViewBag.Appointments.Count > 0)
                {
                    @ViewBag.Appointments[0].DateTime.ToString("g")
                    <br /><span>w/</span>
                    @ViewBag.Appointments[0].Contractor.Name;
                }
            </dd>
        </dl>
        <div class="row justify-content-center mb-2">
            <a class="btn btn-dark col-sm-10 text-light" asp-controller="Appointments" asp-action="CreateAppointment">+ Appointment</a>
        </div>
    </div>
    @*Appointments Panel*@
<div class="col-sm-9">
    <table class=" table text-center table-secondary table-hover table-striped border border-light text-center">
        <thead class="bg-dark text-white">
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Contractor
                </th>
                <th>
                    Client
                </th>
                <th>
                    Status
                </th>
            </tr>
        </thead>
        <tbody>

            @if (ViewBag.Appointments.Count > 0 )
            {
                @foreach (var item in @ViewBag.Appointments)
                {
                    <tr>
                        <td>
                            @item.DateTime.ToString("g")
                        </td>
                        <td>
                            @item.Contractor.Name
                        </td>
                        <td>
                            @item.Client.Name
                        </td>
                        <td>
                            @item.Status
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>


</div>

</div>

<div class="row" hidden>
    <a  id="RouteCall" class="btn col-sm-12 btn-danger text-light" >Make the Call</a>
</div>
@*MAIN*@
@*body*@
