@model CleverScheduleProject.Models.Appointment

@{
    ViewData["Title"] = "Invalid Confirmed";
}

<h1>Invalid Appointment</h1>

<div>
    <hr class="bg-light" />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class="col-sm-10">
            @ViewData["Client"]
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contractor)
        </dt>
        <dd class="col-sm-10">
            @ViewData["Contractor"]
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
   @* <a class="btn btn-success col-sm-4 mr-4" asp-controller="Appointments" asp-action="CreateAppointment">Try Again</a>*@
    <a class="btn btn-danger col-sm-4" asp-controller="Clients" asp-action="Profile">Home</a>
</div>
